$primary-color: rgba(25, 103, 210, 1);
$secondary-color: #ea4335;
$text-color: rgba(32, 33, 37, 1);
$background-color: #f9f9f9;
$dark-grey: rgba(95, 99, 104, 1);
$light-grey: rgba(248, 249, 251, 1);
$font-family: 'Manrope', sans-serif;
$btn-border-radius: 4px;
$container-width: 1200px;

$breakpoint: 360px;
$breakpoint-md: 768px;
$breakpoint-lg: 1300px;

$container: 328px;
$container-md: 680px;
$container-lg: 1269px;

